<ul class="share-buttons">
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" target="_blank"><img src="/img/icon/Facebook.png"></a>
  <a href="https://twitter.com/intent/tweet?source={{ site.url }}&text={{ site.url }}{{ page.url }}&via=drsimonmartin" target="_blank" title="Tweet"><img src="/img/icon/Twitter.png"></a>
  <a href="http://wordpress.com/press-this.php?u={{ site.url }}{{ page.url }}" target="_blank" title="Publish on WordPress"><img src="/img/icon/Wordpress.png"></a>
  <a href="mailto:?subject=My%20Website&body=Thoughts:{{ site.url }}{{ page.url }}" target="_blank" title="Email"><img src="/img/icon/Email.png"></a>
</ul>
